@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfc;
}

h1 {
  font-weight: 300;
  text-align: left;
  font-size: 36px;
  color: #444;
  margin-top: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

/* Todo component styles */
.todo-container {
  display: flex;
}

.input-todo {
  border: 1px solid #eee;
  padding: 0.4em;
}

.input-todo img {
  margin-right: 0.5em;
}

input {
  font-size: 1rem;
  border: none;
  color: #8b98a7;
  width: 200px;
}

input::placeholder {
  color: #0082d4;
}

input:focus,
input:hover {
  outline: none;
}

button {
  background-color: #0082d4;
  color: white;
  border: none;
  margin-left: 0.5em;
  padding: 0 1em;
  font-size: 1rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4em;
}

/* ToDoList component styles */
.todo-item-container {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.5em 0;
}

.todo {
  display: flex;
  justify-content: center;
}

.active-item {
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

.todo-item {
  list-style: none;
  color: #8b98a7;
  padding: 0.5em 0;
  width: 150px;
}

.todo-item-container button {
  background-color: white;
  padding: 0;
}

.todo-item-container button:hover,
.todo-item-container button:focus {
  outline: none;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  color: #8b98a7;
  text-align: center;
  margin-top: 2em;
}

.arrows {
  color: #8b98a7;
  margin-left: 30px;
}

.arrows a {
  cursor: default;
}

.empty-container {
  animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  66% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@media (min-width: 640px) {
  .items {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  input {
    width: 400px;
  }
}

@media (min-width: 670px) {
  .items {
    width: 80%;
  }
}

@media (min-width: 1300px) {
  .items {
    width: 50%;
  }
}
@media (max-width:450px) {
  .input-todo {
    display: flex;
    width: 150px;
  }
}